<h2 style="text-align:center; font-size:25px; color:#0E1E02">Create an Account OR Sign In Below</h2>

<h3 style="text-align:center"> <%= link_to "Sign Up Here", signup_path %> ★ <%= link_to "Log In Here", login_path %> ★ </h3>
<h3 style="text-align:center"><%= button_to "Log In With Google", '/auth/google_oauth2'%></h3>