<h1 style="margin-left: 35px">Create a New House</h1>

<p style="font-size:18px; color:#0E1E02;margin-left: 40px">
    <%= link_to "Create a New House", new_user_house_path %>
</p>

<%# <h2 style="margin-left: 35px"> <%= link_to "Create a House", new_user_house_url(@user) %> 

<h1 style="margin-left: 35px">All the Houses</h1>
<ol>
    <% @houses.each do |house| %>
        <li style="font-size:18px; color:#0E1E02; margin-left: 40px"><%= link_to house.name, house_path(house) %></li><br>
    <% end %>
</ol>

