<h1>All the Houses</h1>

<% @houses.each do |house| %>
    <%= link_to house.name, house_path(house) %>
    <% house.rooms.each do |room| %>
        <% link_to room.name, room_path(room) %>
        <% end %>
<% end %>