<h1 class="title" style="font-size:40px; color:#0E1E02; margin-left: 40px">Create a new house</h1>

<% @house.errors.full_messages.each do |msg|%>
    <ol>
    <p style="color:red; font-size:25px; margin-left: 40px">
       <li>
        <%= msg %>
        </li>
    </p>
    <ol>
<% end %>

<%= form_for @house, url: user_houses_path(@house.user) do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
<% end %>
   