<h1 style="font-size:40px; color:#0E1E02"> This is <%= @house.name %> House </h1>
<br>
<h3 style="font-size:20px; color:#0E1E02"> Is the house color: <%= @house.hex %> </h3>
<br>
<h3 style="font-size:20px; color:#0E1E02"> The house costs: <%= @house.price %> </h3>
<br>
<h3 style="font-size:20px; color:#0E1E02">The house size is <%= @house.size %> </h3>
