<h3 style="text-align:center"> <%= button_to "Log Out", '/logout', method: :delete %>  </h3>

<h2>★ <%= @user.username%>'s Houses ★</h2>

<%= link_to "Create a House", new_user_house_url(@user) %>
<br>
<br>