<h3 style="text-align:center"> <%= button_to "Log Out", '/logout', method: :delete %>  </h3>


<h1 style="text-align:center">★ <%= @user.username%>'s Houses ★</h1>

<% if @user = current_user %>
    <h2 style="text-align:center"> <%= link_to "Create a House", new_user_house_url(@user) %> </h2>
<% end %>
<br>

<%# <%= display_houses %>
