<h1 style="margin-left: 35px">★ <%= current_user.username%>'s Houses ★</h1>


<h2 style="margin-left: 35px"> <%= link_to "Create a House", new_user_house_url(@user) %> </h2>
<h2 style="margin-left: 35px"> <%= link_to "All Houses", user_houses_url(@user) %> </h2>
<h2 style="margin-left: 35px"> <%= link_to "Most Expen$ive Hou$es", houses_most_expensive_path %> </h2>

