<h1 style="margin-left: 35px">All Your Rooms</h1>

<%= @house_room.user %>

<ol>
    <% @house_rooms.each do |house_room| %>
        <li style="font-size:18px; color:#0E1E02; margin-left: 40px">
            <%= house_room.room.name %>
            <%= house_room.windows %>
            <%= house_room.hex %>
        </li>
        <br>
    <% end %>
</ol>