<h1 style="font-size:30px; color:#0E1E02; margin-left: 40px">
    <%= @house_room.room.name %> 
</h1>

<p style="font-size:25px; color:#0E1E02; margin-left: 40px">
    There are <%= @house_room.windows %> window(s) in this room.
</p>

<p style="font-size:25px; color:#0E1E02; margin-left: 40px">
    Here is the room color: <%= @house_room.hex %> 
</p>

<p style="font-size:16px; color:#0E1E02; margin-left: 40px">
    ‼Copy and Paste‼ your color and 
        <a href="https://www.w3schools.com/colors/colors_picker.asp" style="text-decoration: none; font-size:20px;" target="_blank">⋆⋆see it here⋆⋆</a>
</p>

<% if @house_room.house.user_id == current_user.id %>
    <p>----------------------------------------------------------------------</p>
    <p style="font-size:16px; color:#0E1E02; margin-left: 40px">
        <%= link_to "Add Another Room to Your House", new_house_house_room_path(@house_room.house) %>
    </p>
    <p>----------------------------------------------------------------------</p>
<% end %>



