<h1> This is <%= @house_room.room_id %></h1>

<h3>Here's a little bit about this room <%= @room.description %></h3>

<p>There are <%= @house_room.windows %> in this room </p>

<p>Here is the room color: <%= @house_room.hex %></p> %>

<%# if @house_room.user == current_user %>
  <%#  <h4><%# link_to "Edit Room", edit_room_path(@room)</h4> %>
<%# end %>